.nav {
  width: 100%;
  &_item {
    cursor: pointer;
    padding: 0px 15px;
    transition: all 0.3s;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    color: #fff;
    &:hover {
      color: cyan !important;
    }
    &.active {
      color: cyan !important;
    }
    &__menu {
      padding: 10px !important;
      border-bottom: 1px solid #f1f1f1 !important;
      &:hover {
        color: cyan !important;
      }
      &.active {
        color: cyan !important;
      }
    }
  }
}
